@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    .cat-image {
      will-change: transform;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide {
  animation: hideAnimation 0.5s both;
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show {
  animation: showAnimation 0.5s both;
}

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
